* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-y: scroll;
    scrollbar-width: none; /*for firefox*/
    -ms-overflow-style: none; /*for edge*/
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /*for chrome, safari, and opera*/
}

@font-face {
    font-family: 'Product-sans-bold';
    src: url('fonts/product-sans/Product-Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Subjectivity-bold';
    src: url('fonts/subjectivity/Subjectivity/Subjectivity-Bold.otf') format('opentype'),
        url('fonts/subjectivity/Subjectivity/Subjectivity-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #191923;
}

.back-to-top {
    position: fixed;
    /* left: calc(50% - 25px); */
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f5;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: #191923;
    font-weight: 500;
    padding: 10px 10px 15px 10px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 999;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.back-to-top.show {
    transform: translateY(0px);
    opacity: 1;
}

.back-to-top:hover {
    background-color: #e2e2eb;
    width: 120px;
    min-height: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    /* left: calc(50% - 60px); */
    right: 30px;
    border-radius: 30px;
    white-space: nowrap;
}

#back-to-top-icon {
    display: inline-block;
}

.back-to-top:hover #back-to-top-icon{
    display: none;
}

#back-to-top-txt {
    display: none;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.back-to-top:hover #back-to-top-txt {
    display: inline-block;
}

main {
    margin-top: -20px
}

.landingPageNavbar {
    width: 90%;
    height: 60px;
    /* background-color: #e9e6e9; */
    /* opacity: 0.6; */
    background-color: rgba(233, 230, 233, 0.6);
    border-radius: 66px;
    box-shadow: 0px 0px 17.7px 0px rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    padding: 0 5px 0 20px;
    z-index: 999;
}

.landingPageNavbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landingPageNavbar li:first-child {
    margin-right: auto;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    color: #191923;
    text-decoration: none;
    font-weight: bold;
}

.landingPageNavbar button {
    margin: 0 10px 0 0;
    padding: 5px 10px;
}

.logIN-btn {
    background-color: transparent;
    border: none;
    color: #191923;
    font-size: 1em;
    font-family: 'Product-sans-bold', 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.logIN-btn:hover {
    cursor: pointer;
    scale: 0.95;
}

.signUP-btn {
    background-color: #191923;
    border: none;
    color: #e6e6e9;
    font-size: 1em;
    font-family: 'Product-sans-bold', 'Poppins', sans-serif;
    border-radius: 30px;
    height: 40px;
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.signUP-btn:hover {
    cursor: pointer;
    scale: 0.95;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 120px;
}

.hero-text p {
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    color: #e6e6e9;
    text-align: center;
    font-weight: 500;
}

.hero-text img {
    margin-top: 25px;
}

.cover-globe {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: -60px;
    overflow-y: hidden;
    z-index: 0;
}

.cover-globe img {
    width: 1024px;
    height: auto;
    display: block;
    position: absolute;
    /* top: -130px; */
}

.hero-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 390px;
}

.hero-desc p {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    color: #e6e6e9;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
}

.hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 115px;
    position: absolute;
    top: 480px;
}

.hero-cta button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 90px;
    border: none;
    border-radius: 124px;
    /* background: url(assets/lets-dive-in-btn.png) no-repeat center center; */
    /* background-size: cover; */
    background: linear-gradient(to right, rgba(25, 25, 35, 1) 0%, rgba(58, 52, 82, 1) 44%, rgba(114, 97, 163, 1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    color: #e6e6e9;
    font-weight: 600;
}

.hero-cta button:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 0px 17.7px 0px rgba(255, 255, 255, 0.55);
}

.hero-cta a {
    text-decoration: none;
}

.dashboard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -135px;
    z-index: 999;
}

.dashboard-img img {
    width: 80%;
    box-shadow: 0 0 18.7px 9px rgba(166, 125, 184, 0.54);
    border-radius: 20px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
    background-color: black;
    margin-top: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer p {
    font-size: 0.9rem;
    color: #e6e6e9;
}

.footer-links {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-links a {
    font-size: 1rem;
    font-weight: 400;
    color: #e9e6e9;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline wavy #e6e6e9;
    transition: 0.3s all linear;
}

.footer img {
    opacity: 0.4;
}

.bento-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bento-grid img {
    margin-top: 100px;
    width: 70%;
}

.meet-ai {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.meet-ai img {
    margin-top: 100px;
    width: 60%;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #e6e6e9;
    border-radius: 30px;
}

.team h2 {
    font-size: 2.5rem;
    color: #e6e6e9;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 150px;
    flex-wrap: nowrap;
}

.team-card {
    width: 190px;
    height: 254px;
    transition: all 0.4s;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

#vikash-card {
    background-color: #D5FFD0;
}

#rajbeer-card {
    background: rgb(103, 225, 255);
}

#archis-card {
    background-color: #FCD5CE;
}

#rouvik-card {
    background-color: #E0BBE4;
}

.team-card:hover,
#vikash-card:hover,
#rajbeer-card:hover,
#archis-card:hover,
#rouvik-card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
}

.name-card {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.team-card:hover .name-card {
    height: 0px;
    opacity: 0;
}

.desc-card {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: cennter;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    text-align: center;
}

.desc-card p {
    padding: 20px 20px;
    text-align: left;
}

.desc-card p span {
    color: #e6e9e6;
}

.team-card:hover .desc-card {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    transform: rotate(0deg);
    line-height: 20px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.social-icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 2px solid black; */
    transition: all 0.2s ease;
    text-decoration: none;
}

.social-icons:hover {
    transform: translateY(-2px);
    scale: 1.1;
}

@media (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
    }
}

.why-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 60px;
    /* padding: 100px; */
}

.why-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    height: auto;
    padding: 20px;
}

.why-left h1 {
    font-size: 2.5rem;
    color: #e6e6e9;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.why-left p {
    font-size: 1.3rem;
    color: #e6e6e9;
    font-weight: 500;
    line-height: 25px;
}

.why-left button {
    background-color: lavender;
    border: none;
    color: #191923;
    font-size: 1.2rem;
    font-family: 'Product-sans-bold', 'Poppins', sans-serif;
    border-radius: 30px;
    height: 50px;
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.why-left button:hover {
    cursor: pointer;
    scale: 0.95;
}

.why-us {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    font-family: poppins, sans-serif;
}

.why-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #0a3cff;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.why-desc::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom;

    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.why-desc::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.why-desc svg {
    width: 48px;
    height: 48px;
}

.why-desc .para {
    z-index: 1;
    opacity: 1;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.why-desc .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.why-desc .link:hover {
    text-decoration: underline;
}

.why-us:hover {
    transform: translate(0px, -16px);
}

.why-us:hover .why-desc::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

.why-us:hover .why-desc::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

.FAQ-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    gap: 10px;
    padding: 0 200px;
}
.FAQ-container h1 {
    font-size: 2.5rem;
    color: #e6e6e9;
    text-align: left;
    font-weight: 700;
    font-family: 'product-sans-bold', 'poppins', sans-serif;
    margin-bottom: 20px;
}

.faq-item {
    padding: 10px 0;
    min-width: 100%;;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: #e6e6e9;
    color: #191923;
    font-weight: bold;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    border-radius: 15px;
    padding: 20px 40px;
}

.faq-answer {
    transform: translateY(-10px);
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 0 0;
    background-color: #e6e6e9;
    color: #191923;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.faq-item.open .faq-question {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-item.open .faq-answer {
    max-height: 200px;
    padding: 20px 40px;
}

.faq-item .faq-arrow {
    transition: transform 0.3s ease;
}

.faq-item.open .faq-arrow {
    transform: rotate(180deg);
}