body {
    background: linear-gradient(45deg, rgb(218, 0, 87), rgb(0, 0, 163));

    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;

    font-family: 'Poppins';

    overflow-x: hidden;
    overflow-y: auto;
}